@import url('../../../common/styles/_media.css');

.logo {
  position: relative;
  color: var(--color-accent);
  -webkit-tap-highlight-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 3px;
    content: '';
    background-color: var(--color-bg);
  }

  @media (--bp_desktop) {
    width: clamp(1.12rem, -0.0246rem + 2.83vw, 3.37rem);
    padding: clamp(0.56rem, 0.0831rem + 1.18vw, 1.5rem) 0;
  }

  @media (--bp_mobile) {
    width: clamp(1.87rem, 0.7905rem + 4.82vw, 2.75rem);
    padding: clamp(1rem, 0.0707rem + 4.13vw, 1.75rem) 0;
  }

  &__image {
    display: block;
    width: 100%;
  }
}
