.header {
  display: grid;
  grid-template-columns: repeat(14, var(--g-column-width));
  gap: 20px;
  margin-top: 30px;
}

.logo {
  &__image {
    position: relative;
    display: block;
    width: 52px;
    padding: 26px 0;
    margin-left: 14px;
    background-color: var(--c-bg);
  }
}

.controllers {
  display: flex;
  grid-column: 9 / span 2;
  align-items: center;
  justify-content: end;
  margin-top: 16px;
}
