.header {
  min-height: 92px;
  margin-top: 30px;

  &--short {
    position: absolute;
  }

  &__controllers {
    grid-column: 8 / span 2;
    align-self: center;
    justify-self: end;
    margin-top: 10px;
  }
}

.logo {
  &__image {
    position: relative;
    display: block;
    width: 52px;
    padding: 26px 0;
    margin-left: 14px;
    background-color: var(--color-bg);
  }
}
