@import url('../../../common/styles/_media.css');

.project-navigation {
  &__item {
    position: relative;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    color: var(--color-fg);
    text-align: end;
    letter-spacing: 12px;
    transition: var(--hover-animation);

    @media (--bp_1600) {
      font-size: 42px;
      line-height: normal;
      letter-spacing: 8.5px;
    }

    @media (--bp_1366) {
      font-size: 36px;
      line-height: normal;
      letter-spacing: 7.2px;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }

  &__item:hover {
    color: var(--color-accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-accent);
  }

  &__link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: var(--hover-animation);

    &:focus-visible {
      margin-bottom: 0;
      color: var(--color-accent);
      text-decoration-color: var(--color-accent);
      border-bottom: none;
    }
  }
}
