@import url('../../../common/styles/_media.css');

.project-navigation {
  &__item {
    position: relative;
    font-family: Raleway, sans-serif;
    font-size: clamp(1.25rem, -0.0256rem + 3.14vw, 3.75rem);
    font-weight: 300;
    line-height: normal;
    color: var(--color-fg);
    text-align: end;
    letter-spacing: 0.2em;
    transition: var(--hover-animation);
  }

  &__item + &__item {
    margin-top: clamp(0.12rem, 0.0125rem + 0.4vw, 0.5rem);

    @media (--bp_portrait) {
      margin-top: 8px;
    }
  }

  &__item:hover {
    color: var(--color-accent);
    text-decoration: underline;
    text-decoration-thickness: 0.02em;
    text-decoration-color: var(--color-accent);
  }

  &__link {
    text-decoration: underline;
    text-decoration-thickness: 0.03em;
    transition: var(--hover-animation);

    &:focus-visible {
      margin-bottom: 0;
      color: var(--color-accent);
      text-decoration-color: var(--color-accent);
      border-bottom: none;
    }
  }
}
