@import url('../../common/styles/_media.css');

.home {
  &__header {
    margin-top: 42px;

    @media (--bp_1600) {
      margin-top: 28px;
    }

    @media (--bp_1366) {
      margin-top: 22px;
    }

    @media (--bp_1024) {
      margin-top: 8px;
    }
  }

  &__title {
    position: relative;
    top: 46px;

    @media (--bp_1600) {
      top: 46px;
    }

    @media (--bp_1366) {
      top: 50px;
    }
  }

  &__in {
    margin-top: 170px;

    @media (--bp_1600) {
      margin-top: 144px;
    }

    @media (--bp_1366) {
      margin-top: 120px;
    }

    @media (--bp_1024) {
      margin-top: 80px;
    }
  }

  &__caption-wr {
    grid-column: 1 / span 4;
    margin-left: 12px;

    @media (--bp_1600) {
      margin-left: 11px;
    }

    @media (--bp_1366) {
      margin-left: 9px;
    }

    @media (--bp_1024) {
      margin-top: 34px;
      margin-left: 7px;
    }
  }

  &__project-navigation-wr {
    position: relative;
    grid-column: 11 / -1;
    margin-top: 10px;

    @media (--bp_1600) {
      margin-top: 4px;
    }

    @media (--bp_1366) {
      margin-top: 4px;
    }

    @media (--bp_1024) {
      margin-top: 30px;
    }
  }

  &__footer {
    margin-bottom: 16px;
  }
}
