@import url('../../common/styles/_media.css');

.home {
  &__header {
    margin-top: 28px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (--bp_desktop) {
      gap: clamp(0.87rem, -11.4062rem + 26.2vh, 13.75rem);
    }
  }

  &__title {
    position: relative;
  }

  &__caption-wr {
    margin-left: clamp(0.25rem, 0.0587rem + 0.68vw, 0.87rem);

    @media (--bp_desktop) {
      grid-column: 1 / span 4;
    }

    @media (--bp_mobile) {
      margin-bottom: 6px;
    }
  }

  &__project-navigation-wr {
    position: relative;
    grid-column: 11 / span 4;
    margin-top: 10px;
  }

  &__footer {
    margin-bottom: 16px;
  }
}
