@import url('../../common/styles/_media.css');

.home {
  &__title {
    position: relative;
    top: 60px;
  }

  &__caption-wr {
    grid-column: 1 / span 4;
    margin: 114px 0 0 12px;
  }

  &__project-navigation-wr {
    position: relative;
    grid-column: 11 / -1;
    margin-top: 106px;

    @media (--bp_1600) {
      margin-top: 108px;
    }
  }
}
