@import url('../../common/styles/_media.css');

.contacts {
  &__script {
    margin-top: 158px;

    @media (--bp_1600) {
      margin-top: 134px;
    }

    @media (--bp_1366) {
      margin-top: 100px;
    }
  }

  &__in {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    height: 100%;
    padding-top: 22px;
    margin-left: 12px;
    background-color: var(--color-bg);
  }

  &__form {
    margin-top: 20px;
  }
}
