@import url('../../../common/styles/_media.css');
$short: .caption--short;
$medium: .caption--medium;
$long: .caption--long;

.caption {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  background-color: var(--color-bg);

  &--short {
    max-width: 213px;
    padding: 10px 0;

    @media (--bp_1600) {
      max-width: 200px;
    }
  }

  &--medium {
    max-width: 420px;
    padding: 32px 0;

    @media (--bp_1600) {
      max-width: 345px;
      padding: 25px 0;
    }

    @media (--bp_1366) {
      max-width: 294px;
      padding: 20px 0;
    }

    @media (--bp_1024) {
      max-width: 219px;
      padding: 16px 0;
    }
  }

  &--long {
    max-width: 498px;
    padding: 20px 0;

    @media (--bp_1600) {
      max-width: 355px;
    }

    @media (--bp_1366) {
      max-width: 320px;
    }
  }

  &__fname {
    font-weight: 600;
    color: var(--color-accent);

    $(short) & {
      font-size: 21px;
      line-height: normal;
      letter-spacing: 1.35px;

      @media (--bp_1600) {
        font-size: 19px;
        letter-spacing: 1.35px;
      }
    }

    $(medium) & {
      font-size: 36px;
      line-height: normal;
      letter-spacing: 1.8px;

      @media (--bp_1600) {
        font-size: 30px;
        letter-spacing: 1.5px;
      }

      @media (--bp_1366) {
        font-size: 25px;
        letter-spacing: 1.27px;
      }

      @media (--bp_1024) {
        font-size: 19px;
        letter-spacing: 0.95px;
      }
    }

    $(long) & {
      font-size: 46px;
      line-height: normal;
      letter-spacing: 2.7px;

      @media (--bp_1600) {
        font-size: 34px;
        letter-spacing: 1.9px;
      }

      @media (--bp_1366) {
        font-size: 32px;
        letter-spacing: 1.6px;
      }
    }
  }

  &__lname {
    font-weight: 700;
    color: var(--color-fg);

    $(short) & {
      font-size: 27px;
      line-height: normal;
      letter-spacing: 3.2px;

      @media (--bp_1600) {
        font-size: 25px;
        letter-spacing: 3.2px;
      }
    }

    $(medium) & {
      font-size: 48px;
      line-height: normal;
      letter-spacing: 9.6px;

      @media (--bp_1600) {
        font-size: 40px;
        letter-spacing: 8px;
      }

      @media (--bp_1366) {
        font-size: 34px;
        letter-spacing: 6.8px;
      }

      @media (--bp_1024) {
        font-size: 25px;
        letter-spacing: 5px;
      }
    }

    $(long) & {
      font-size: 64px;
      line-height: normal;
      letter-spacing: 7.2px;

      @media (--bp_1600) {
        font-size: 46px;
        letter-spacing: 5.1px;
      }

      @media (--bp_1366) {
        font-size: 42px;
        letter-spacing: 4.2px;
      }
    }
  }

  &__role {
    font-weight: 300;
    color: var(--color-fg);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;

    $(short) & {
      font-size: 12px;
      line-height: normal;

      @media (--bp_1600) {
        font-size: 10px;
      }
    }

    $(medium) & {
      font-size: 20px;
      line-height: normal;
      letter-spacing: 1px;

      @media (--bp_1600) {
        font-size: 16px;
        letter-spacing: 0.8px;
      }

      @media (--bp_1366) {
        font-size: 14px;
        letter-spacing: 0.7px;
      }

      @media (--bp_1024) {
        font-size: 10px;
        letter-spacing: 0.52px;
      }
    }

    $(long) & {
      font-size: 22px;
      line-height: normal;

      @media (--bp_1600) {
        font-size: 16px;
        letter-spacing: 0.2px;
      }

      @media (--bp_1366) {
        font-size: 18px;
        letter-spacing: 0.18px;
      }
    }
  }
}
