@import url('../../../common/styles/_media.css');
$short: .caption--short;
$medium: .caption--medium;
$long: .caption--long;

.caption {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  background-color: var(--color-bg);

  &--short {
    max-width: 213px;
    padding: 10px 0;
  }

  &--medium {
    @media (--bp_mobile) {
      max-width: 148px;
    }

    @media (--bp_desktop) {
      max-width: clamp(8.75rem, -0.1387rem + 21.88vw, 26.12rem);
    }
  }

  &--long {
    max-width: 498px;
    padding: 20px 0;
  }

  &__fname {
    font-weight: 600;
    color: var(--color-accent);

    $(short) & {
      font-size: 21px;
      line-height: normal;
      letter-spacing: 1.35px;
    }

    $(medium) & {
      line-height: normal;
      letter-spacing: 0.05em;

      @media (--bp_mobile) {
        font-size: 13px;
      }

      @media (--bp_desktop) {
        font-size: clamp(0.75rem, 0.0146rem + 1.81vw, 2.18rem);
      }
    }

    $(long) & {
      font-size: 46px;
      line-height: normal;
      letter-spacing: 2.7px;
    }
  }

  &__lname {
    font-weight: 700;
    color: var(--color-fg);

    $(short) & {
      font-size: 27px;
      line-height: normal;
      letter-spacing: 3.2px;
    }

    $(medium) & {
      line-height: normal;
      letter-spacing: 0.2em;

      @media (--bp_mobile) {
        font-size: 17px;
      }

      @media (--bp_desktop) {
        font-size: clamp(1rem, -0.0196rem + 2.51vw, 3rem);
      }
    }

    $(long) & {
      font-size: 64px;
      line-height: normal;
      letter-spacing: 7.2px;
    }
  }

  &__role {
    font-weight: 300;
    color: var(--color-fg);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;

    $(short) & {
      font-size: 12px;
      line-height: normal;
    }

    $(medium) & {
      line-height: normal;
      letter-spacing: 0.05em;

      @media (--bp_mobile) {
        font-size: 7px;
      }

      @media (--bp_desktop) {
        font-size: clamp(0.43rem, 0.0231rem + 1.02vw, 1.25rem);
      }
    }

    $(long) & {
      font-size: 22px;
      line-height: normal;
    }
  }
}
