@import url('../../../common/styles/_media.css');
$short: .caption--short;
$medium: .caption--medium;
$long: .caption--long;

.caption {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  background-color: var(--color-bg);

  &--short {
    max-width: 213px;
    padding: 10px 0;
  }

  &--medium {
    max-width: 148px;
  }

  &--long {
    max-width: 498px;
    padding: 20px 0;
  }

  &__fname {
    font-weight: 600;
    color: var(--color-accent);

    $(short) & {
      font-size: 21px;
      line-height: normal;
      letter-spacing: 1.35px;
    }

    $(medium) & {
      font-size: 13px;
      line-height: normal;
      letter-spacing: 0.05em;
    }

    $(long) & {
      font-size: 46px;
      line-height: normal;
      letter-spacing: 2.7px;
    }
  }

  &__lname {
    font-weight: 700;
    color: var(--color-fg);

    $(short) & {
      font-size: 27px;
      line-height: normal;
      letter-spacing: 3.2px;
    }

    $(medium) & {
      font-size: 17px;
      line-height: normal;
      letter-spacing: 0.2em;
    }

    $(long) & {
      font-size: 64px;
      line-height: normal;
      letter-spacing: 7.2px;
    }
  }

  &__role {
    font-weight: 300;
    color: var(--color-fg);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;

    $(short) & {
      font-size: 12px;
      line-height: normal;
    }

    $(medium) & {
      font-size: 7px;
      line-height: normal;
      letter-spacing: 0.05em;
    }

    $(long) & {
      font-size: 22px;
      line-height: normal;
    }
  }
}
