@import url('./_vars.css');
@import url('./_fonts.css');
@import url('./_media.css');

*:not(svg *) {
  all: unset;
  display: revert;
}

*:focus-visible {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--c-fg);
}

svg {
  display: block;
}

a {
  cursor: pointer;
}

button:focus-visible {
  margin-bottom: 0;
  border-bottom: none;
  outline: 2px solid var(--c-fg);
}

input:focus-visible {
  outline: 2px solid var(--c-accent);
}

li {
  list-style: none;
}

/* FIX: change default font settings */
body {
  max-width: var(--b-body-width);
  height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--c-fg);
  background-color: var(--c-bg);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 2/-2;
  justify-content: start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--g-columns), var(--g-column-width));
  gap: var(--g-gap);
}
