:root {
  --body-width: 1920px;
  --body-columns: 16;
  --container-columns: 14;
  --gap: 20px;
  --column-width: calc((var(--body-width) - var(--gap) * (var(--body-columns) -1)) / var(--body-columns));
  --container-width: calc(var(--column-width) * var(--container-columns) + var(--gap) * (var(--container-columns) -1));
}

[scheme='dark'] {
  --color-fg: #fff;
  --color-bg: #262a2f;
  --color-accent: #fa8072;
}

[scheme='light'] {
  --color-fg: #4f4f4f;
  --color-bg: #fff;
  --color-accent: #f35151;
}
