@import url('../../../../../common/styles/_media.css');

.submit-btn {
  padding: 24px;
  margin-top: 20px;
  font-family: Raleway, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-fg);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--color-bg);
  border: 1px solid var(--color-fg);
  border-radius: 8px;
  transition: var(--hover-animation);

  @media (--bp_1600) {
    padding: 18px;
    margin-top: 16px;
    font-size: 14px;
  }

  @media (--bp_1366) {
    padding: 12px;
    margin-top: 12px;
    font-size: 13px;
  }

  &:hover {
    color: var(--color-accent);
  }

  &:focus-visible {
    margin-bottom: 0;
    color: var(--color-accent);
  }
}
