@import url('../../common/styles/_media.css');

.projects {
  &__in {
    grid-column: 1 / -1;
    height: 100vh;
    overflow: hidden;
  }
}

.slides {
  &__item {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: end;
    height: 100vh;
  }

  &__next {
    width: 320px;
    margin-right: clamp(-0.6rem, 0.144rem + -0.62vw, -0.1rem);
    margin-bottom: clamp(1.12rem, 0.7431rem + 0.94vw, 1.87rem);
    margin-left: auto;
    font-family: Raleway, sans-serif;
    font-size: clamp(1rem, -0.0196rem + 2.51vw, 3rem);
    font-weight: 700;
    line-height: normal;
    text-align: right;
    letter-spacing: 0.2em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition:
      var(--hover-animation),
      opacity 0.6s ease-out;

    &:hover {
      color: var(--color-accent);
    }

    &:focus-visible {
      color: var(--color-accent);
      border-bottom: none;
    }
  }
}
