@import url('../../common/styles/_media.css');

.projects {
  &__in {
    grid-column: 1 / -1;
    max-height: var(--view-height);
    margin-left: 12px;
    overflow: hidden;
  }
}

.slides {
  &__project-list {
    margin-top: 120px;

    @media (--bp_1600) {
      margin-top: 100px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 134px;
    justify-content: end;
    min-height: var(--view-height);

    @media (--bp_1600) {
      gap: 30px;
    }
  }

  &__next {
    width: 320px;
    margin-right: -9.6px;
    margin-bottom: 64px;
    margin-left: auto;
    font-family: Raleway, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-align: right;
    letter-spacing: 9.6px;
    cursor: pointer;
    transition:
      var(--hover-animation),
      opacity 0.6s ease-out;

    @media (--bp_1600) {
      margin-right: -6.8px;
      font-size: 34px;
      letter-spacing: 6.8px;
    }

    &:hover {
      color: var(--color-accent);
    }

    &:focus-visible {
      color: var(--color-accent);
      border-bottom: none;
    }
  }
}
