@import url('../../../common/styles/_media.css');

.home-d {
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: clamp(0.62rem, -3.6607rem + 22.12vh, 16.25rem);
    justify-content: center;

    @media (--bp_portrait) {
      gap: clamp(0rem, -4.557rem + 23.52vh, 12.5rem);
    }
  }

  &__title {
    left: clamp(-0.87rem, 0.0668rem + -0.78vw, -0.25rem);
    margin-top: clamp(0rem, -1.3698rem + 7.07vh, 5rem);

    @media (--bp_portrait) {
      margin-top: clamp(0rem, -4.557rem + 23.52vh, 12.5rem);
    }
  }

  &__caption-wr {
    grid-column: 1 / span 4;
    padding: clamp(0.5rem, -0.0403rem + 1.33vw, 1.56rem) 0;
    margin-top: clamp(0.37rem, 0.747rem + -0.31vw, 0.62rem);

    @media (--bp_portrait) {
      margin-top: clamp(0rem, -3.6463rem + 18.82vh, 10rem);
    }
  }

  &__project-navigation-wr {
    position: relative;
    grid-column: 11 / span 4;
    margin-top: 10px;
  }

  &__footer {
    margin-bottom: 20px;
  }
}
