@import url('../../common/styles/_media.css');

.about {
  &__header {
    margin-top: 28px;
  }

  &__caption {
    margin: 30px 0 40px 12px;
  }

  &__in {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 120px;
    height: 100%;
    padding-top: 42px;
    margin-left: 12px;
    background-color: var(--color-bg);
  }
}
