@import url('./_vars.css');
@import url('./_fonts.css');
@import url('./_media.css');

*:not(svg *) {
  all: unset;
  display: revert;
}

*:focus-visible {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--color-fg);
}

svg {
  display: block;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  max-width: var(--body-width);
  height: 100vh;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--container-width);
  height: 100vh;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    content: '';
    border-left: 3px solid var(--color-fg);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--container-columns), var(--column-width));
  gap: var(--gap);
}
