@import url('./_vars.css');
@import url('./_fonts.css');
@import url('./_media.css');

*:not(svg *) {
  all: unset;
  display: revert;
}

*:focus-visible {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--color-fg);
}

svg {
  display: block;
  width: 100%;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  max-width: var(--body-width);
  height: 100vh;
  max-height: 1080px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--container-width);
  margin: 0 auto;

  @media (--bp_desktop) {
    justify-content: space-between;
    height: 100vh;
  }

  @media (--bp_mobile) {
    justify-content: start;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    content: '';
    border-left: clamp(0.04rem, 0.0015rem + 0.15vw, 0.18rem) solid var(--color-fg);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--container-columns), var(--column-width));
  gap: var(--gap);
}
