:root {
  --body-width: clamp(360px, 100vw, 1920px);
  --gap: 20px;
  --column-width: calc(
    (var(--body-width) - var(--margin) * 2 - var(--gap) * (var(--body-columns) -1)) / var(--body-columns)
  );
  --container-width: calc(var(--column-width) * var(--container-columns) + var(--gap) * (var(--container-columns) -1));
  --hover-animation: color 0.3s ease-out;

  @media (--bp_desktop) {
    --body-columns: 16;
    --container-columns: 14;
    --margin: 0px;
  }

  @media (--bp_mobile) {
    --body-columns: 4;
    --container-columns: 4;
    --margin: 20px;
  }
}

[scheme='dark'] {
  --color-fg: #fff;
  --color-bg: #262a2f;
  --color-bg-modal: rgba(#262a2f, 0.9);
  --color-accent: #fa8072;
  --color-accent-20: rgba(#fa8072, 0.2);
}

[scheme='light'] {
  --color-fg: #4f4f4f;
  --color-bg: #fff;
  --color-bg-modal: rgba(#fff, 0.9);
  --color-accent: #f35151;
  --color-accent-20: rgba(#f35151, 0.5);
}
