:root {
  @media (--bp_1920) {
    --body-width: 1900px;
  }

  @media (--bp_1600) {
    --body-width: 1580px;
  }

  @media (--bp_1366) {
    --body-width: 1346px;
  }

  @media (--bp_1024) {
    --body-width: 1004px;
  }

  --body-columns: 16;
  --container-columns: 14;
  --gap: 20px;
  --column-width: calc((var(--body-width) - var(--gap) * (var(--body-columns) -1)) / var(--body-columns));
  --container-width: calc(var(--column-width) * var(--container-columns) + var(--gap) * (var(--container-columns) -1));
  --view-height: calc(100vh - 122px);
  --hover-animation: color 0.3s ease-out;
}

[scheme='dark'] {
  --color-fg: #fff;
  --color-bg: #262a2f;
  --color-bg-modal: rgba(#262a2f, 0.9);
  --color-accent: #fa8072;
  --color-accent-20: rgba(#fa8072, 0.2);
}

[scheme='light'] {
  --color-fg: #4f4f4f;
  --color-bg: #fff;
  --color-bg-modal: rgba(#fff, 0.9);
  --color-accent: #f35151;
  --color-accent-20: rgba(#f35151, 0.5);
}
