{
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "ignorePatterns": ["build/"],
  "overrides": [
    {
      "files": ["./*.ts", "src/**/*.ts"],
      "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort"],
  "root": true,
  "rules": {
    "no-console": "warn",
    "no-warning-comments": [
      "warn",
      {
        "terms": ["todo", "fix"],
        "location": "start",
        "decoration": ["/", "*"]
      }
    ],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [["^\\u0000", "^", "^@?\\w", "^\\.", "^node:"]]
      }
    ]
  }
}
