@import url('../../../common/styles/_media.css');

.account {
  &__list {
    display: flex;
    grid-column: 10/-1;
    gap: 20px;
    align-items: end;
    justify-content: end;

    @media (--bp_1600) {
      gap: 16px;
    }

    @media (--bp_1366) {
      gap: 14px;
    }

    @media (--bp_1024) {
      gap: 10px;
    }
  }

  &__item {
    transition: var(--hover-animation);
  }

  &__item:hover {
    color: var(--color-accent);
  }

  &__icon {
    @media (--bp_1600) {
      width: 20px;
    }

    @media (--bp_1366) {
      width: 16px;
    }

    @media (--bp_1024) {
      width: 12px;
    }
  }

  &__link {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;

    @media (--bp_1600) {
      font-size: 12px;
      letter-spacing: 1.25px;
    }

    @media (--bp_1366) {
      font-size: 10px;
      letter-spacing: 1.06px;
    }

    @media (--bp_1024) {
      font-size: 8px;
      letter-spacing: 0.8px;
    }

    &:focus-visible {
      margin-bottom: 0;
      color: var(--color-accent);
      border-bottom: none;
    }
  }
}
