@import url('../../../common/styles/_media.css');

.account {
  &__list {
    display: flex;
    grid-column: 10/-1;
    gap: 20px;
    align-items: end;
    justify-content: end;
  }

  &__item {
    transition: var(--hover-animation);
  }

  &__item:hover {
    color: var(--color-accent);
  }

  &__link {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: clamp(0.5rem, 0.3481rem + 0.54vw, 1rem);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;

    &:focus-visible {
      margin-bottom: 0;
      color: var(--color-accent);
      border-bottom: none;
    }
  }
}
