.footer {
  margin-bottom: 10px;
}

.account {
  &__list {
    display: flex;
    grid-column: 10/-1;
    gap: 20px;
    align-items: end;
    justify-content: end;
  }

  &__item {
    transition: var(--hover-animation);
  }

  &__item:hover {
    color: var(--color-accent);
  }

  &__link {
    display: flex;
    gap: 4px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
}
