.about {
  &__caption {
    margin: 40px 0 72px 12px;
  }

  &__in {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 120px;
    height: 100%;
    padding-top: 42px;
    margin-left: 12px;
    background-color: var(--color-bg);
  }
}
