@import url('../../../common/styles/_media.css');

.navigation {
  &__list {
    display: flex;
    gap: clamp(0.25rem, -0.0537rem + 1.08vw, 1.25rem);
    align-items: center;
    justify-content: end;
    height: 100%;
  }

  &__item {
    font-family: Raleway, sans-serif;
    font-size: clamp(0.5rem, -0.0343rem + 1.9vw, 2.25rem);
    font-weight: 500;
    line-height: normal;
    color: var(--color-fg);
    transition: var(--hover-animation);
  }

  &__item:hover {
    color: var(--color-accent);
  }

  &__link--active {
    color: var(--color-accent);
  }
}
