@import url('../../../common/styles/_media.css');

.header {
  align-items: center;
  min-height: 92px;

  @media (--bp_1600) {
    min-height: 74px;
  }

  @media (--bp_1366) {
    min-height: 60px;
  }

  @media (--bp_1024) {
    min-height: 48px;
  }

  &--short {
    position: absolute;
  }

  &__controllers {
    display: flex;
    grid-column: 8 / -1;
    gap: 54px;
    justify-content: end;

    @media (--bp_1600) {
      gap: 48px;
    }

    @media (--bp_1366) {
      gap: 34px;
    }

    @media (--bp_1024) {
      gap: 30px;
    }
  }
}

.logo {
  &__image {
    position: relative;
    display: block;
    width: 52px;
    padding: 26px 0;
    margin-left: 14px;
    background-color: var(--color-bg);

    @media (--bp_1600) {
      width: 44px;
      padding: 21px 0;
      margin-left: 12px;
    }

    @media (--bp_1366) {
      width: 38px;
      padding: 17px 0;
      margin-left: 11px;
    }

    @media (--bp_1024) {
      width: 28px;
      padding: 13px 0;
      margin-left: 7px;
    }
  }
}
