@import url('../../../common/styles/_media.css');

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-modal);
  backdrop-filter: blur(4px);

  &__caption {
    margin-top: 8px;
    margin-bottom: 72px;

    @media (--bp_1600) {
      margin-bottom: 26px;
    }
  }

  &__in {
    position: relative;
    box-sizing: border-box;
    width: 740px;
    height: 420px;
    padding: 0 44px;
    background-position: bottom right;
    background-size: cover;
    box-shadow: 0 0 2px 0 var(--color-fg);

    @media (--bp_1600) {
      width: 548px;
      height: 304px;
    }

    &--light {
      background-image: url('~@assets/images/modal_light.png');
    }

    &--dark {
      background-image: url('~@assets/images/modal_dark.png');
    }
  }

  &__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: var(--hover-animation);

    &:hover {
      color: var(--color-accent);
    }
  }

  &__close-ico {
    width: 20px;

    @media (--bp_1600) {
      width: 18px;
    }
  }

  &__message {
    padding-left: 112px;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: normal;

    @media (--bp_1600) {
      padding-left: 90px;
      font-size: 16px;
    }

    & a {
      color: var(--color-accent);
    }
  }

  &__message + &__message {
    margin-top: 24px;

    @media (--bp_1600) {
      margin-top: 8px;
    }
  }
}

.modal-wr-animation {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
}

.modal-animation {
  &-appear {
    opacity: 0;
  }

  &-appear-active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
}
