@import url('../../../../common/styles/_media.css');

.header-d {
  align-items: center;
  min-height: 90px;
  margin-top: 42px;

  &--short {
    position: absolute;
  }

  &__controllers {
    display: flex;
    grid-column: 8 / -1;
    gap: clamp(0.87rem, 0.11rem + 2.72vw, 3.37rem);
    justify-content: end;
  }
}
