@import url('../../../../common/styles/_media.css');

.header-d {
  align-items: center;
  min-height: clamp(1.87rem, -0.0425rem + 4.72vw, 5.62rem);
  margin-top: clamp(0.75rem, -0.1437rem + 2.2vw, 2.5rem);

  &--short {
    position: absolute;
  }

  &__controllers {
    display: flex;
    grid-column: 8 / -1;
    gap: clamp(0.87rem, 0.11rem + 2.72vw, 3.37rem);
    justify-content: end;
  }
}
