@import url('../../../common/styles/_media.css');

.title-wr {
  padding: 72px 0;
  background-color: var(--color-bg);

  @media (--bp_1600) {
    padding: 42px 0;
  }
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 235px;
  color: var(--color-fg);
  letter-spacing: 40px;

  @media (--bp_1600) {
    font-size: 170px;
    line-height: normal;
    letter-spacing: 30px;
  }

  & > span {
    color: var(--color-accent);
  }
}
