@import url('../../../common/styles/_media.css');

.title-wr {
  padding: 38px 0;
  background-color: var(--color-bg);

  @media (--bp_1600) {
    padding: 30px 0;
  }

  @media (--bp_1366) {
    padding: 24px 0;
  }

  @media (--bp_1024) {
    padding: 19px 0;
  }
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: normal;
  color: var(--color-fg);
  letter-spacing: 40px;

  @media (--bp_1600) {
    font-size: 166px;
    letter-spacing: 33px;
  }

  @media (--bp_1366) {
    font-size: 142px;
    letter-spacing: 28.34px;
  }

  @media (--bp_1024) {
    font-size: 105px;
    letter-spacing: 21.13px;
  }

  & > span {
    color: var(--color-accent);
  }
}
