@import url('../../../../common/styles/_media.css');

.color-scheme-switcher {
  &__button {
    width: 32px;
    margin-top: 10px;
    color: var(--color-fg);
    cursor: pointer;
    transition: var(--hover-animation);

    @media (--bp_1600) {
      width: 27px;
      margin-top: 6px;
    }

    @media (--bp_1366) {
      width: 22px;
      margin-top: 2px;
    }

    @media (--bp_1024) {
      width: 17px;
      margin-top: 8px;
    }

    &:focus-visible {
      margin-bottom: 0;
      color: var(--color-accent);
      border-bottom: none;
    }
  }

  &__button:hover {
    color: var(--color-accent);
  }

  &__button > svg {
    width: 100%;
    margin-top: 2px;
  }
}
