@import url('../../../common/styles/_media.css');

.subtitle {
  &__header {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 7.56px;
  }

  &__line {
    width: 60px;
    height: 3px;
    margin-top: 16px;
    background-color: var(--color-fg);
  }
}
