@import url('../../../common/styles/_media.css');

.page-navigation {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 27px 0;
  background-color: var(--color-bg);

  @media (--bp_1600) {
    gap: 30px;
  }

  @media (--bp_1366) {
    gap: 20px;
  }

  &__link {
    &:focus-visible {
      color: var(--color-accent);
      border-bottom: none;
    }
  }

  &__arrow {
    transition: var(--hover-animation);

    @media (--bp_1600) {
      width: 82px;
    }

    @media (--bp_1366) {
      width: 72px;
    }

    &:hover {
      color: var(--color-accent);
    }

    &--right {
      transform: rotate(180deg);
    }
  }

  &__home {
    transition: var(--hover-animation);

    @media (--bp_1600) {
      width: 60px;
    }

    @media (--bp_1366) {
      width: 50px;
    }

    &:hover {
      color: var(--color-accent);
    }
  }
}
